<div class="col-xs-8 col-xs-offset-2">
	<div class="container">

		<div class="row">
			<!-- content pic left container start-->
			<div class="col-md-4">
				<h4>Creedo Analytics Dashboards</h4>
				<p>
					The most characteristic visual element of a Creedo Analytics
					Dashboard is the <b>mine button</b> at the upper right corner,
					which allows you to run data mining algorithms. When clicking this
					button a dialog will pop up where you can choose one of the data
					mining algorithms available in this dashboard along with optional
					parameter settings.
				</p>
				<p>Besides the mine button, the browser window is organized in
					three distinct areas:
				<ol>
					<li>Data View</li>
					<li>Candidate Area</li>
					<li>Result Area</li>
				</ol>
				</p>
			</div>
			<div class="col-md-8">
				<img src="file.htm?filename=hlp1uidesc.png" width="100%">
			</div>

			<div class="col-md-12">
				<h2>
					<small>Data View</small>
				</h2>
				<p>
					In the data view area you can see the input data table, attributes
					and binning metadata, and data visualizations. By clicking on one
					of the three tabs on the upper right corner of the data view area,
					you can switch to one of four alternate <b>Data Views</b>:
			</div>
			<div class="row">
				<div class="col-md-3 portfolio-item">
					<h3>
						<small><i class="fa fa-table"></i> Data Table</small>
					</h3>
					<p>Per default, the data view shows the table tab. If you place
						the mouse pointer on the column header, you will see summary
						statistics describing the column values in a pop up window.</p>
				</div>
				<div class="col-md-3 portfolio-item">
					<h3>
						<small><i class="fa fa-cloud"></i> Point Cloud</small>
					</h3>
					<p>Analyze your data visually to get first insights and to
						support the interpretation of knowledge patterns discovered by
						ocm.</p>
				</div>
				<div class="col-md-3 portfolio-item">
					<h3>
						<small><i class="fa fa-book"></i> Metadata</small>
					</h3>
					<p>Switch to the Metadata Tab to learn about the attribute
						types and bin classification values computed in the data
						preprocessing step.</p>
				</div>
				<div class="col-md-3 portfolio-item">
					<h3>
						<small><i class="fa fa-book"></i> Dataset Information</small>
					</h3>
					<p>Open the Dataset Information Tab to read background
						information about the dataset and the analysis tasks our demo
						datasets intend to support.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 portfolio-item">
					<img src="file.htm?filename=hlp1dvoptstable.png" width="100%">
				</div>
				<div class="col-md-3 portfolio-item">
					<img src="file.htm?filename=hlp1dvoptspoints.png" width="100%">
				</div>
				<div class="col-md-3 portfolio-item">
					<img src="file.htm?filename=hlp1dvoptsmeta.png" width="100%">
				</div>
				<div class="col-md-3 portfolio-item">
					<img src="http://placehold.it/750x450" width="100%">
				</div>
			</div>
			<hr>

			<!-- content pic left container start-->
			<div class="row">
				<div class="col-md-6">
					<h2>
						<small>Candidate Area</small>
					</h2>
					<p>
						Each box appearing below the mine button represents an <b>candidate
							knowledge pattern</b>. Different background colors of pattern boxes
						indicate different pattern types. 
					</p>
					<p>
						Be aware that the number of displayed attributes in the pattern
						description section is restricted. If a description contains four
						or more attributes, move the mouse pointer onto the pattern box
						and the <b>extended pattern description</b> pop up box will open
						and enlist all the pattern propositions and some summary
						statistics.
					</p>
					<p>
						<b>Pattern Options:</b><br> <i class="fa fa-search"></i>:
						Open detailed pattern view in a new browser tab<br> <i
							class="fa fa-screenshot"></i>: Filter data table rows to see only
						objects that belong to a pattern<br> <i class="fa fa-remove"></i>:
						Remove useless patterns<br>
					</p>
				</div>
				<div class="col-md-6">
					<img src="file.htm?filename=hlp1dvcand.png" width="100%">
				</div>
			</div>
			<hr>
			<!-- content pic left container end-->

			<!-- content pic right container start-->
			<div class="row">
				<div class="col-md-6">
					<img src="file.htm?filename=hlp1dvanab.png" width="100%">
				</div>
				<div class="col-md-6">
					<h2>
						<small>Result Area</small>
					</h2>
					<p>
						If you drag a candidate pattern to the analysis board, the content
						of the pattern box changes slightly. The previous pattern
						description is replaced with the extended pattern description and
						a <b>pattern annotation</b> field is added. You can type notes in
						the annotation field and they will be added to the detailed
						pattern view.
					</p>
					<p>To remove a pattern from the analysis board, click on the
						"Remove Pattern" Button.</p>
				</div>
			</div>
			<!-- content pic right container end-->
		</div>
	</div>
</div>