<div class="col-lg-10">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 text-justify">Already for the real tasks?
				Before that, take some time to go over the step-by-step instructions
				blow of how to operating our mining tool.</div>
		</div>
	</div>
	<div class=well>
		<div class="container">
			<div class="col-lg-8">
				<figure>
					<figcaption>
						<i>Figure 1. mining dashboard overview A</i>
					</figcaption>
					<img class="img-responsive img-home-portfolio"
						src="file.htm?filename=trial-area.png" alt="">
				</figure>
			</div>
			<p>The dashboard of the mining tool consists of four main
				components:</p>
			<ul class="col-lg-4 col-sm-12">
				<li><p>
						Data Area (<b>fig 1.a</b>) gives you the overview of the data.
						Within this area, each data column corresponds to a socio-economic
						attribute. By pointing the cursor at the header of each data
						column (<b>fig 1.b</b>), you will see the elementary statistics of
						that column.
					</p></li>
				<li><p>
						Mine Button (<b>fig 1.c</b>) allows you to request new patterns by
						a simple click.
					</p></li>
				<li><p>
						Candidate Area (<b>fig 1.d</b>) will display the proposed
						patterns.
					</p></li>
				<li><p>
						Result Area (<b>fig 1.e</b>) allows you to assemble your results.
					</p></li>
			</ul>
		</div>
	</div>
	<div class=well>
		<div class="container">
			<div class="col-lg-8 col-lg-12 col-sm-12">
				<figure>
					<figcaption>
						<i>Figure 2. - pattern operations</i>
					</figcaption>
					<img class="img-responsive img-home-portfolio"
						src="file.htm?filename=trial-action.png" alt="">
				</figure>
			</div>
			Typically, a discovery process consists of following steps:
			<ol type="I" class="col-lg-4 col-sm-12">
				<li><p>Study the statistics of each column, and get some
						elementary knowledge of your country's socio-economic status.</p></li>
				<li><p>Once you are done, click the mine button and the
						proposed patterns will show up in the candidate area. This might
						take some time, thank you for your patience.</p></li>
				<li><p>
						Investigate the candidate patterns and save a pattern that you
						found interesting by dragging it (<b>fig 2.a</b>) to the result
						area (<b>fig 2.b</b>).
					</p></li>
				<li><p>
						You may delete a non-interesting patterns by clicking the right
						upper cross icon (<b>fig 2.c</b>).
					</p></li>
				<li><p>
						Repeat step II. and IV., refine your pattern selection until you
						think you have discovered the most interesting <b>three</b>
						patterns to describe the socio-economic status of <b>Lakeland</b>.
					</p></li>
				<li><p>
						When you are satisfied with the results, submit the discovered
						result by click on the "<b>Submit</b>" button (<b>fig 2.d</b>).
					</p></li>
			</ol>
		</div>
	</div>
	<div class="container">
		<div class="col-lg-10 col-sm-12">
			<p>
				Please click on "<b>Next</b>" to start.
			</p>
			<p>
				<i>Thanks for your participation of the analysis phase, you will
					be informed by email when the evaluation phase starts. </i>
			</p>
		</div>
	</div>
</div>